:root {
  --primery-text-color: #434455;
  --title-text-color: #2E2F42;
  --background-color-hero: #2E2F42;
  --accent-color: #4D5AE5;
  --background-color: #ffffff;
  --button-color: #ffffff;
  --footer-logo: #F4F4FD;
  --background-color-cection: #F4F4FD;
  --background-color-footer: #2E2F42;
  --color-hover-nav: #434455;
}

body {
    color:var(--primery-text-color);
    background-color:var(--background-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
}
/* heder */
.logo-blu {
    color:var(--accent-color);
}
.logo {
    color:var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style: none; 
}
.heder-link {
    color:var(--title-text-color);
    font-weight: 700;
    text-decoration: none;
    line-height: 1.5;
}
.contacts {
    line-height: 1.5;
    list-style: none;
}
.heder-contacts {
    color: var(--primery-text-color);
    text-decoration: none;
}
.heder-link:hover {
    color: var(--color-hover-nav);
}
.heder-link:focus {
    color: var(--accent-color);
}
.heder-contacts:hover {
    color: var(--accent-color);
}
.heder-contacts:focus {
    color: var(--accent-color);
}
/* HERO */
.hero {
background-color: var(--background-color-hero);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px; 
}
.hero-title {
color: #ffffff;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
}
.hero-button {
color: var(--button-color);
background-color:var(--accent-color); 
font-family: Roboto, sans-serif;
font-weight: 700;
line-height: 1.19;
cursor: pointer;
font-size: 16px;
}
.hero-button:hover {
    background-color: var(--accent-color);
}
.hero-button:focus {
    background-color: #404BBF;
}
/* SECTION */
.section-tile {
color: var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
}
.title {
color: var(--title-text-color);
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.section-text {
line-height: 1.5;
}
.decor {
list-style: none;
}
.team {
    background-color: var(--background-color-cection);
}
.team-item {
    background-color: var(--background-color)
}
/* FOOTER */
.footer-logo {
color: var(--footer-logo);
font-family: Raleway;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
text-transform: uppercase;
text-decoration: none;
}
.footer-logo-blu {
color: var(--accent-color);
font-family: Raleway;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
}
.footer-text {
line-height: 1.5;
color: #E7E9FC;
}
/*  PAGE2------------portfolio */
.filter-portfolio {
    color: var(--accent-color);
    background-color: #E7E9FC;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    vertical-align: baseline;
    letter-spacing: 0.02em;
    font-weight: 700;
    cursor: pointer
}
.filter-portfolio:hover {
    background-color: var(--accent-color);
    color: var(--button-color);
}
.filter-portfolio:focus {
    background-color: var(--accent-color);
    color: var(--button-color);
}
.portfolio-title {
    color: var(--title-text-color);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
}
.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-footer {
    background-color: var(--background-color-footer);
}
